## **Data Engineering Task Notebook**

This notebook is designed to test you through various Data Engineering tasks using the Online Retail II dataset. The tasks will help you develop essential skills in data cleaning, feature engineering, and transforming raw data into valuable insights. You'll explore tasks like handling missing values, aggregating data, creating new features, and performing data joins to simulate real-world data workflows. These tasks will prepare you for more advanced data manipulation and analysis, enhancing your ability to work with large, complex datasets.

# **About the Dataset**
This Online Retail II dataset contains transactional data from a UK-based online retailer selling unique gift-ware. The data covers transactions that occurred between December 1, 2009 and December 9, 2011. The retailer primarily serves both individual customers and wholesalers. The products sold by the company are all-occasion gift items, including home d√©cor, kitchenware, and other unique items.

The dataset includes detailed information on each transaction, providing valuable insights into customer behavior, sales trends, and product performance over time.



## **What can be done with this dataset?**

**Customer Behavior Analysis:** Explore purchasing patterns, repeat customers, and sales volume across different customer segments.

**Sales Forecasting:** Predict future sales by analyzing past transactions, including seasonal trends and demand fluctuations.

**Market Segmentation:** Identify customer groups based on purchase history and demographic data (e.g., by Country).

**Product Performance:** Analyze which products are bestsellers and which have low turnover, and how prices influence sales.

**Time Series Analysis:** Study trends over time, including hourly, daily, and monthly sales volumes, and identify peak shopping periods.

**Anomaly Detection:** Detect potential fraudulent transactions, cancellations, or unusually high sales activity.
Association Rule Mining: Discover products that are often purchased together and identify cross-sell opportunities.



## **Key Attributes in the Dataset:**

**InvoiceNo:** Unique transaction identifier (with cancellations indicated by 'C' prefix).

**StockCode:** Unique product code for each item sold.

**Description:** Name of the product/item sold.

**Quantity:** Quantity of each product sold in the transaction
.
**InvoiceDate:** Date and time of the transaction.

**UnitPrice:** Price per unit of the product.

**CustomerID:** Unique identifier for each customer.

**Country:** The country where the customer resides.

This dataset is a great resource for learning and practicing various data analysis, machine learning, and business intelligence techniques.

## **Exercise**
Complete the following tasks:
1. Load the [dataset](https://www.kaggle.com/datasets/lakshmi25npathi/online-retail-dataset) from Kaggle.
2. Visualize the dataset and it's structure using appropriate libraries and plots.
3. Do some basic cleaning to handle missing values
4. Create the following features:
  *   Revenue
  *   DayOfWeek: to analyze sales trends by weekdays.
  *   TotalRevenue for each CustomerID
  *   Most popular product based on Revenue.
  *   Ordersize by summing Quantity for each InvoiceNo
5. Apply a lambda function to:
  * Segment customers into tiers based on TotalRevenue (e.g., "High", "Medium", "Low").
  * Extract key information from Description and add them as columns (e.g., presence of specific keywords like "Gift" or "Discount"). At least one extra column should be added
  * Categorize transactions as "Small", "Medium", or "Large" based on Revenue.
  * **Detect Seasonal Items:** Flag items as "Christmas"-themed if the description contains relevant words.
  * Classify customers as "Loyal", "Occasional", or "One-time" based on the number of purchases.
  *  **Identify Multi-Item Invoices:** Flag invoices with multiple unique items as "Multi-Item Order".
7. Wrap all fo the above into an ETL pipeline.

Extra tasks for practicing GroupBy
1. Join CustomerID with TotalRevenue to create Customer_Revenue column
2. Group by Country to find total revenue, total customers, and average order size per country.
3. Group by StockCode to find top-selling products by quantity.
4. Group by CustomerID to calculate the average order value or frequency of purchases.

In [165]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import kagglehub
import os

In [166]:
path = kagglehub.dataset_download("lakshmi25npathi/online-retail-dataset")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\Thoma\.cache\kagglehub\datasets\lakshmi25npathi\online-retail-dataset\versions\1

In [167]:
dataset_path = dataset_path = r"C:\Users\Thoma\.cache\kagglehub\datasets\lakshmi25npathi\online-retail-dataset\versions\1"


files = os.listdir(dataset_path)
print(files)

['online_retail_II.xlsx']

In [168]:
file_path = r"C:\Users\Thoma\.cache\kagglehub\datasets\lakshmi25npathi\online-retail-dataset\versions\1\online_retail_II.xlsx"
df = pd.read_excel(file_path)
print(df.head())

  Invoice StockCode                          Description  Quantity  \
0  489434     85048  15CM CHRISTMAS GLASS BALL 20 LIGHTS        12
1  489434    79323P                   PINK CHERRY LIGHTS        12
2  489434    79323W                  WHITE CHERRY LIGHTS        12
3  489434     22041         RECORD FRAME 7" SINGLE SIZE         48
4  489434     21232       STRAWBERRY CERAMIC TRINKET BOX        24

          InvoiceDate  Price  Customer ID         Country
0 2009-12-01 07:45:00   6.95      13085.0  United Kingdom
1 2009-12-01 07:45:00   6.75      13085.0  United Kingdom
2 2009-12-01 07:45:00   6.75      13085.0  United Kingdom
3 2009-12-01 07:45:00   2.10      13085.0  United Kingdom
4 2009-12-01 07:45:00   1.25      13085.0  United Kingdom

In [169]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525461 entries, 0 to 525460
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      525461 non-null  object
 1   StockCode    525461 non-null  object
 2   Description  522533 non-null  object
 3   Quantity     525461 non-null  int64
 4   InvoiceDate  525461 non-null  datetime64[ns]
 5   Price        525461 non-null  float64
 6   Customer ID  417534 non-null  float64
 7   Country      525461 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 32.1+ MB
None

In [170]:
print(df.isnull().sum())

Invoice             0
StockCode           0
Description      2928
Quantity            0
InvoiceDate         0
Price               0
Customer ID    107927
Country             0
dtype: int64

In [171]:
# Fill missing 'Description' using the most common value per 'StockCode'
df['Description'] = df.groupby('StockCode')['Description'].transform(lambda x: x.fillna(x.mode()[0]) if not x.mode().empty else x)

#Drop rows where 'Customer ID' is missing
df = df.dropna(subset=['Customer ID'])

print(df.isnull().sum())

Invoice        0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
Price          0
Customer ID    0
Country        0
dtype: int64

In [172]:
print(df.duplicated().sum())

6771

In [173]:
df.drop_duplicates(inplace=True)
print(df.duplicated().sum())

0

In [174]:
# Compute Revenue
df["Revenue"] = df["Quantity"] * df["Price"]

In [175]:
# Tilf√∏j en kolonne, der viser dagen i ugen (0 = mandag, 6 = s√∏ndag)
df["DayOfWeek"] = df["InvoiceDate"].dt.dayofweek

# Se resultatet
print(df[['InvoiceDate', 'DayOfWeek']].head(1000))

             InvoiceDate  DayOfWeek
0    2009-12-01 07:45:00          1
1    2009-12-01 07:45:00          1
2    2009-12-01 07:45:00          1
3    2009-12-01 07:45:00          1
4    2009-12-01 07:45:00          1
...                  ...        ...
1029 2009-12-01 12:30:00          1
1030 2009-12-01 12:30:00          1
1031 2009-12-01 12:30:00          1
1032 2009-12-01 12:30:00          1
1033 2009-12-01 12:30:00          1

[1000 rows x 2 columns]

In [176]:
print(df["DayOfWeek"].value_counts())

DayOfWeek
3    82722
6    72158
1    71753
2    68182
0    63995
4    51553
5      400
Name: count, dtype: int64

In [177]:
# Compute TotalRevenue for each Customer ID
df["TotalRevenue"] = df.groupby("Customer ID")["Revenue"].transform("sum")

In [178]:
# Find det produkt med den h√∏jeste samlede oms√¶tning
most_popular_product = df.groupby("StockCode")["Revenue"].sum().idxmax()

print("Most Popular Product:", most_popular_product)

Most Popular Product: 85123A

In [179]:
# Beregn ordre-st√∏rrelse ved at summere Quantity for hver InvoiceNo
df["OrderSize"] = df.groupby("Invoice")["Quantity"].transform("sum")

# Se de f√∏rste r√¶kker for at tjekke om det virker
print(df[["Invoice", "Quantity", "OrderSize"]].head(10))

  Invoice  Quantity  OrderSize
0  489434        12        166
1  489434        12        166
2  489434        12        166
3  489434        48        166
4  489434        24        166
5  489434        24        166
6  489434        24        166
7  489434        10        166
8  489435        12         60
9  489435        12         60

In [180]:
# Segment√©r kunder baseret p√• TotalRevenue
df["CustomerTier"] = df["TotalRevenue"].apply(lambda x: "High" if x > 10000 else "Medium" if x > 5000 else "Low")

# Print de f√∏rste 10 r√¶kker for at tjekke resultatet
print(df[["Customer ID", "TotalRevenue", "CustomerTier"]].head(10))

   Customer ID  TotalRevenue CustomerTier
0      13085.0       1187.08          Low
1      13085.0       1187.08          Low
2      13085.0       1187.08          Low
3      13085.0       1187.08          Low
4      13085.0       1187.08          Low
5      13085.0       1187.08          Low
6      13085.0       1187.08          Low
7      13085.0       1187.08          Low
8      13085.0       1187.08          Low
9      13085.0       1187.08          Low

In [181]:
df["IsGift"] = df["Description"].apply(lambda x: 1 if "GIFT" in str(x).upper() else 0)
df["IsDiscount"] = df["Description"].apply(lambda x: 1 if "DISCOUNT" in str(x).upper() else 0)

# Se de f√∏rste 10 r√¶kker med Description, IsGift og IsDiscount
print(df[["Description", "IsGift", "IsDiscount"]].head(10))

# T√¶l, hvor mange produkter der er markeret som gaver eller rabatter
print("Gaveprodukter:", df["IsGift"].sum())
print("Rabatprodukter:", df["IsDiscount"].sum())

                           Description  IsGift  IsDiscount
0  15CM CHRISTMAS GLASS BALL 20 LIGHTS       0           0
1                   PINK CHERRY LIGHTS       0           0
2                  WHITE CHERRY LIGHTS       0           0
3         RECORD FRAME 7" SINGLE SIZE        0           0
4       STRAWBERRY CERAMIC TRINKET BOX       0           0
5           PINK DOUGHNUT TRINKET POT        0           0
6                  SAVE THE PLANET MUG       0           0
7   FANCY FONT HOME SWEET HOME DOORMAT       0           0
8                            CAT BOWL        0           0
9       DOG BOWL , CHASING BALL DESIGN       0           0
Gaveprodukter: 4307
Rabatprodukter: 97

In [182]:
df["TransactionCategory"] = df["Revenue"].apply(lambda x: 
    "Small" if x < 10 else ("Medium" if x < 100 else "Large"))

print(df[["Revenue", "TransactionCategory"]].head(10))

   Revenue TransactionCategory
0     83.4              Medium
1     81.0              Medium
2     81.0              Medium
3    100.8               Large
4     30.0              Medium
5     39.6              Medium
6     30.0              Medium
7     59.5              Medium
8     30.6              Medium
9     45.0              Medium

In [183]:
df["IsChristmasItem"] = df["Description"].apply(lambda x: 1 if "CHRISTMAS" in str(x).upper() else 0)

print(df[["Description", "IsChristmasItem"]].head(10))

                           Description  IsChristmasItem
0  15CM CHRISTMAS GLASS BALL 20 LIGHTS                1
1                   PINK CHERRY LIGHTS                0
2                  WHITE CHERRY LIGHTS                0
3         RECORD FRAME 7" SINGLE SIZE                 0
4       STRAWBERRY CERAMIC TRINKET BOX                0
5           PINK DOUGHNUT TRINKET POT                 0
6                  SAVE THE PLANET MUG                0
7   FANCY FONT HOME SWEET HOME DOORMAT                0
8                            CAT BOWL                 0
9       DOG BOWL , CHASING BALL DESIGN                0

In [184]:
# Beregn antal k√∏b per kunde
purchase_counts = df.groupby("Customer ID")["Invoice"].count()

# Tilf√∏j kunde-type til data
df["CustomerType"] = df["Customer ID"].map(lambda x: 
    "Loyal" if purchase_counts.get(x, 0) > 10 else 
    "Occasional" if purchase_counts.get(x, 0) > 3 else 
    "One-time")

print(df[["Customer ID", "CustomerType"]].drop_duplicates().head(10))

     Customer ID CustomerType
0        13085.0        Loyal
12       13078.0        Loyal
31       15362.0        Loyal
54       18102.0        Loyal
71       12682.0        Loyal
90       18087.0        Loyal
96       13635.0        Loyal
119      14110.0        Loyal
126      12636.0     One-time
127      17519.0        Loyal

In [185]:
# Identific√©r fakturaer med flere unikke produkter
multi_item_orders = df.groupby("Invoice")["StockCode"].nunique()

# Flag fakturaer med flere unikke produkter
df["MultiItemOrder"] = df["Invoice"].map(multi_item_orders).apply(lambda x: 1 if x > 1 else 0)

# Se nogle eksempler for at sikre os, at det virker
print(df[["Invoice", "MultiItemOrder"]].head(10))

# Se fordelingen af enkelt- vs. multi-item ordrer
print(df["MultiItemOrder"].value_counts())

  Invoice  MultiItemOrder
0  489434               1
1  489434               1
2  489434               1
3  489434               1
4  489434               1
5  489434               1
6  489434               1
7  489434               1
8  489435               1
9  489435               1
MultiItemOrder
1    406508
0      4255
Name: count, dtype: int64

In [190]:
def extract(dataset_path):
    # Indl√¶s Excel-filen
    df = pd.read_excel(dataset_path)
    return df

def transform(df):
    # Fyld manglende 'Description' med den mest almindelige v√¶rdi pr. 'StockCode'
    df['Description'] = df.groupby('StockCode')['Description'].transform(lambda x: x.fillna(x.mode()[0]) if not x.mode().empty else x)

    # Fjern r√¶kker, hvor 'Customer ID' mangler
    df = df.dropna(subset=['Customer ID'])

    # Fjern dubletter
    df.drop_duplicates(inplace=True)

    # Beregn Revenue (oms√¶tning)
    df["Revenue"] = df["Quantity"] * df["Price"]

    # Tilf√∏j en kolonne, der viser dagen i ugen (0 = mandag, 6 = s√∏ndag)
    df["DayOfWeek"] = df["InvoiceDate"].dt.dayofweek

    # Compute TotalRevenue for each Customer ID
    df["TotalRevenue"] = df.groupby("Customer ID")["Revenue"].transform("sum")

    # Find det produkt med den h√∏jeste samlede oms√¶tning
    most_popular_product = df.groupby("StockCode")["Revenue"].sum().idxmax()

    # Beregn ordre-st√∏rrelse ved at summere Quantity for hver InvoiceNo
    df["OrderSize"] = df.groupby("Invoice")["Quantity"].transform("sum")

    # Segment√©r kunder baseret p√• TotalRevenue
    df["CustomerTier"] = df["TotalRevenue"].apply(lambda x: "High" if x > 10000 else "Medium" if x > 5000 else "Low")

    # er der discount p√• produktet?
    df["IsDiscount"] = df["Description"].apply(lambda x: 1 if "DISCOUNT" in str(x).upper() else 0)
    
    # Anvend transaktionskategorisering p√• Revenue
    df["TransactionCategory"] = df["Revenue"].apply(lambda x: 
    "Small" if x < 10 else ("Medium" if x < 100 else "Large"))

    # Is it a christmas item?
    df["IsChristmasItem"] = df["Description"].apply(lambda x: 1 if "CHRISTMAS" in str(x).upper() else 0)
    
    # Which type customer?
    df["CustomerType"] = df["Customer ID"].map(lambda x: 
    "Loyal" if purchase_counts.get(x, 0) > 10 else 
    "Occasional" if purchase_counts.get(x, 0) > 3 else 
    "One-time")

    # Identific√©r fakturaer med flere unikke produkter
    multi_item_orders = df.groupby("Invoice")["StockCode"].nunique()

    # Flag fakturaer med flere unikke produkter
    df["MultiItemOrder"] = df["Invoice"].map(multi_item_orders).apply(lambda x: 1 if x > 1 else 0)

    return df

def load(df, output_path):
    """Gemmer data i en ny CSV-fil"""
    df.to_csv(output_path, index=False)
    print(f" Data gemt til {output_path}")
    return df

def ETL(dataset_path, output_path):
    """K√∏rer hele ETL-pipelinen"""
    print(" Starter Extract...")
    df = extract(dataset_path)

    print(" Starter Transform...")
    df_transformed = transform(df)

    print(" Starter Load...")
    df_loaded = load(df_transformed, output_path)

    print("ETL-pipeline f√¶rdig!")
    return df_loaded

In [187]:
dataset_path = r"C:\Users\Thoma\.cache\kagglehub\datasets\lakshmi25npathi\online-retail-dataset\versions\1\online_retail_II.xlsx"
output_path = "renset_data.csv"

# K√∏r ETL-pipelinen
df = ETL(dataset_path, output_path)
df.head()

üì• Starter Extract...
 Starter Transform...

C:\Users\Thoma\AppData\Local\Temp\ipykernel_16812\4253849677.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(inplace=True)
C:\Users\Thoma\AppData\Local\Temp\ipykernel_16812\4253849677.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Revenue"] = df["Quantity"] * df["Price"]
C:\Users\Thoma\AppData\Local\Temp\ipykernel_16812\4253849677.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["DayOfWeek"] = df["InvoiceDate"].dt.dayofweek
C:\Users\Thoma\AppData\Local\Temp\ipykernel_16812\4253849677.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["TotalRevenue"] = df.groupby("Customer ID")["Revenue"].transform("sum")
C:\Users\Thoma\AppData\Local\Temp\ipykernel_16812\4253849677.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["OrderSize"] = df.groupby("Invoice")["Quantity"].transform("sum")
C:\Users\Thoma\AppData\Local\Temp\ipykernel_16812\4253849677.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["CustomerTier"] = df["TotalRevenue"].apply(lambda x: "High" if x > 10000 else "Medium" if x > 5000 else "Low")
C:\Users\Thoma\AppData\Local\Temp\ipykernel_16812\4253849677.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["IsDiscount"] = df["Description"].apply(lambda x: 1 if "DISCOUNT" in str(x).upper() else 0)
C:\Users\Thoma\AppData\Local\Temp\ipykernel_16812\4253849677.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["TransactionCategory"] = df["Revenue"].apply(lambda x:
C:\Users\Thoma\AppData\Local\Temp\ipykernel_16812\4253849677.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["IsChristmasItem"] = df["Description"].apply(lambda x: 1 if "CHRISTMAS" in str(x).upper() else 0)
C:\Users\Thoma\AppData\Local\Temp\ipykernel_16812\4253849677.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["CustomerType"] = df["Customer ID"].map(lambda x:
C:\Users\Thoma\AppData\Local\Temp\ipykernel_16812\4253849677.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["MultiItemOrder"] = df["Invoice"].map(multi_item_orders).apply(lambda x: 1 if x > 1 else 0)

 Starter Load...
‚úÖ Data gemt til renset_data.csv
ETL-pipeline f√¶rdig!

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Revenue,DayOfWeek,TotalRevenue,OrderSize,CustomerTier,IsDiscount,TransactionCategory,IsChristmasItem,CustomerType,MultiItemOrder
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,83.4,1,1187.08,166,Low,0,Medium,1,Loyal,1
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.0,1,1187.08,166,Low,0,Medium,0,Loyal,1
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.0,1,1187.08,166,Low,0,Medium,0,Loyal,1
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,100.8,1,1187.08,166,Low,0,Large,0,Loyal,1
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,30.0,1,1187.08,166,Low,0,Medium,0,Loyal,1